<% provide(:title,"Contact")%>
<h1>Contact</h1>

<p>
	<h3><b>Hoàng Nhật Quân</b></h3>
	<h4><b>K56 HEDSPI - HUST</b></h4><br>
	Email: <a href="mailto:hoangquan199@gmail.com">hoangquan199@gmail.com </a><br>
	Facebook: <a href="https://www.facebook.com/iamkots">Quân Nhật Hoàng</a>
</p>
