<% provide(:title,"Contact")%>
<h1>Contact</h1>
<p>
	<h3><b>Vu Dao Duy Quang</b></h3>
	<h4><b>K56 HEDSPI - HUST</b></h4><br>
	Email: <a href="mailto:daoduyquang323@gmail.com">daoduyquang323@gmail.com </a><br>
	</a>
</p>
